numpy==1.26.2
matplotlib>=3.8,<4.0
pandas >= 2.2, <3.0
fastapi==0.108.0
uvicorn[standard]==0.25.0
pydantic-settings>=0.1
ultralytics>=8.0.232
opencv-python-headless==4.5.5.64
python-multipart==0.0.5
requests==2.27.1